.hero{
  height: 95vh;
  background-image:
          $hero-linear-gradient,
          url("../bartswebdesign/img/barts-webdesign-hero-sectie_1_1_200.jpg");

  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 0 100%,100% 75vh, 100% 0);

  @media(min-width: 448px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1_1_448.jpg");
  }
  @media(min-width: 624px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1_1_624.jpg");
  }
  @media(min-width: 783px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1_1_783.jpg");
  }
  @media(min-width: 910px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1_1_910.jpg");
  }
  @media(min-width: 1038px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1038.jpg");
  }
  @media(min-width: 1243px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1243.jpg");
  }
  @media(min-width: 1430px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1430.jpg");
  }
  @media(min-width: 1767px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1767.jpg");
  }
  @media(min-width: 1920px){
    background-image:
            $hero-linear-gradient,
            url("../bartswebdesign/img/barts-webdesign-hero-sectie_1920.jpg");
  }
  &__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}