$color-primary: #1129A8;
$color-primary-light:#0096DB;
$color-primary-dark: #2F3A75;

$color-secundary-light: #E07B38;
$color-secundary-dark: #A83711;

$color-grey-dark: #777;
$color-grey-light: #F2F2F2;
$color-white: #fff;
$color-black: #000;

$hero-linear-gradient: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.7),
        rgba($color-primary-dark, 0.7));
